<!-- The component prepare 40k of rows numbers -->
<!-- This is very hard to render, but I like how this looks ༼ つ ◕_◕ ༽つ -->
<template>
    <div class="row-nums">
        <p v-for="row in 40000"
           v-bind:key="row">
            {{row}}
        </p>
    </div>
</template>

<script>

    export default {
        name: 'RowsComponent',

        props: {
            fromX: Number,
            toX: Number,
            x: Number,
        },
        data: function () {
            return {
                times: this.toX - this.fromX
            }
        },
        computed: {},
    }
</script>

<style scoped lang="less">

    .row-nums {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 125px;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 200;
        background: #414141;
        color: #bcbcbc;


        p {
            text-align: center;
            width: 126px;
            height: 23px;
            padding: 0;
            margin: 0;
            scroll-snap-align: start;
        }


    }


</style>
