<!-- The component generates rows by value -->
<template>
    <table class="grid">
        <tbody class="body">
        <BodyComponent
                v-for="index in renderTo"
                v-bind:key="index+fromY"
                v-bind:fromX="fromX"
                v-bind:toX="toX"
                v-bind:row="index + fromY"
                v-bind:x="index + fromX"
                v-bind:y="index + fromY"
        />
        </tbody>
    </table>
</template>

<script>

    export default {
        name: 'GridComponent',
        props: {
            fromY: Number,
            toY: Number,
            fromX: Number,
            toX: Number,
            rows: Number
        },
        components: {
            BodyComponent: () => import('./Grid__body__component')
        },
        computed: {
            times() {
                return (this.toY * this.$store.state.cluster.rows) - this.$store.state.cluster.rows;
            },
            renderTo() {
                return this.toY - this.fromY
            },
        },
        updated() {
            this.$store.commit('saveLoading', false)
        },

    }
</script>

<style scoped lang="less">
    .grid {
        position: relative;
        border-collapse: collapse;
    }
</style>
