<!-- The component generates cells by value -->
<template>
    <tr class="row">
        <Cell
                v-for="index in times"
                v-bind:key="fromX+index"
                v-bind:fromX="index + fromX"
                v-bind:toX="index + toX"
                v-bind:row="row"
        />
    </tr>
</template>

<script>
    export default {
        name: 'BodyComponent',
        components: {
            Cell: () => import('./Grid__body__cell__component')
        },
        props: {
            fromX: Number,
            toX: Number,
            row: Number,
        },
        data: function () {
            return {
                times: this.toX - this.fromX
            }
        },


    }
</script>


