<!-- The component prepare 40k of columns numbers -->
<!-- This is very hard to render, but I like how this looks ༼ つ ◕_◕ ༽つ -->
<template>
    <div class="head">
        <div class="head__blank-cell"></div>
        <p v-for="num in 40000"
           v-bind:key="num">
            {{num}}
        </p>
    </div>
</template>

<script>

    export default {
        name: 'HeadComponent',
        props: {

        },

    }
</script>

<style scoped lang="less">

    .head {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 200;
        background: #414141;
        color: #bcbcbc;
        height: 23px;

        .head__blank-cell {
            position: sticky;
            width: 126px;
            height: 23px;
            left: 0;
            top: 0;
            z-index: 300;
            background: #414141;
        }

        p {
            text-align: center;
            width: 124px;
            height: 23px;
            padding: 0;
            margin: 0;
        }
    }


</style>
