<!-- Generating cells and triggered the save button -->
<template>
        <td class="cell">
            <div class="cell__wrap">
                <input type="checkbox"
                       v-model="checked"
                       v-on:change="saveChanges"
                />
                <input  :disabled="checked"
                        type="number"
                        v-model="value"
                        v-on:change="saveChanges"
                />
            </div>
        </td>
</template>

<script>
    export default {
        name: 'CellComponent',
        props: {
            x: Number,
            y: Number,
            row: Number
        },
        methods: {
            // Saving data and triggered the save button
            saveChanges(){
                let data = {
                    key:`row ${this.row} cell ${this.$vnode.key}`,
                    value : {value: this.value, check: this.checked}};
                this.$store.dispatch("SAVE_CHANGES", data).then(
                    ()=>{
                        this.$store.commit("buttonToggle", false);
                    }
                );
            }
        },
        data: function () {
            return {
                checked: false,
                value: "",
                changed: false
            }
        },
        beforeMount() {
            // Checking the previous value in the store
            if(this.$store.state.data.has(`row ${this.row} cell ${this.$vnode.key}`)){
                let data = this.$store.state.data.get(`row ${this.row} cell ${this.$vnode.key}`);
                this.value = data.value;
                this.checked = data.check;
            }
        },

    }
</script>

<style scoped lang="less">
    .cell{
        .cell__wrap{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            input[type="number"]{
                width: 100px;
                &:disabled{
                    border: solid 1px #bb3311;
                }
            }
        }
    }
</style>
