<template>
    <div class="app" @scroll="scrollHandler" ref="app">
        <!-- Preloader -->
        <transition name="fade" mode="out-in" appear>
            <div class="app__load" v-if="getLoadingState">
                Loading ...
            </div>
        </transition>

        <!-- Save button -->
        <div class="app__save-button" v-if="!saveState">
            <button @click="saveToConsole">
                Save changes
            </button>
        </div>

        <!-- Columns numbers component -->
        <GridHead/>

        <div class="app__wrapper">
            <!-- Rows numbers component -->
            <GridRows/>
            <!-- Grid table -->
            <GridComponent
                    v-bind:fromY="startY"
                    v-bind:toY="endY"
                    v-bind:fromX="startX"
                    v-bind:toX="endX"
                    v-bind:rows="60"
                    v-bind:style="{
                        marginTop : offsetY + 'px',
                        marginLeft : (offsetX) + 'px',}"/>
        </div>
    </div>
</template>

<script>

    // Function for checking when an event stopped
    window.endEvent = function (callback, timeout) {
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
            callback();
        }, timeout);
    };

    export default {
        name: 'app',
        components: {
            GridComponent: () => import('./components/GridComponent'),
            GridHead: () => import('./components/Grid__head'),
            GridRows: () => import('./components/Grid__rows-nums__component'),
        },
        data: function () {
            return {
                startY: 0,
                endY: 90,
                startX: 0,
                endX: 20,
                offsetY: 0,
                offsetX: 0,
                chunkY: 1,
                chunkX: 1,
                maxOffsetX: 0,
                maxOffsetY: 0,
                previousX: 1,
                previousY: 1,
            }
        },
        computed: {
            getLoadingState() {
                return this.$store.state.loading;
                // return true;
            },
            saveState() {
                return this.$store.state.save;
            }
        },
        methods: {
            // Method handle of the scrolling
            scrollHandler() {

                // Getting elements
                let App = this.$refs.app;
                let Cell = App.querySelector('td');

                // Set up a sizing
                let cellHeight = Cell.clientHeight;
                let cellWidth = Cell.clientWidth;
                let appHeight = App.clientHeight;
                let appWidth = App.clientWidth;

                // Getting chunks sizing
                let chunkHeight = (60 * cellHeight) - (appHeight - cellHeight);
                let chunkWidth = (20 * cellWidth) - (appWidth - cellWidth);

                // Count chunks in the wrapper
                let chunksY = Math.floor(App.scrollHeight / chunkHeight);
                let chunksX = Math.floor(App.scrollWidth / chunkWidth);

                // Calculation positions of the chunks
                let chunkPositionY = Math.floor((App.scrollTop + appHeight) / chunkHeight) ;
                let chunkPositionX = Math.floor((App.scrollLeft + appWidth) / chunkWidth) ;

                // Calculation positions of the row and column
                let row = Math.round((App.scrollTop - cellHeight) / cellHeight);
                let column = Math.round((App.scrollLeft - cellWidth) / cellWidth);

                // Checked the last positions of chunks
                let lastY = chunkPositionY === chunksY;
                let lastX = chunkPositionX === chunksX;

                // Checked the previous positions of chunks
                let prevY = chunkPositionY === this.previousY;
                let prevX = chunkPositionX === this.previousX;

                // Table processing without previous position
                const generateByPosition = () => {
                    if (!prevY) {
                        this.chunkY = chunkPositionY;
                        this.startY = row;
                        this.endY = row + 90;
                        this.offsetY = App.scrollTop;
                        this.previousY = chunkPositionY;
                    }

                    if (!prevX){
                        this.chunkX = chunkPositionX;
                        this.startX = column;
                        this.endX = column + 20;
                        this.offsetX = App.scrollLeft;
                        this.previousX = chunkPositionX;
                    }
                };

                // Table processing after stopping scrolling
                const stopScroll = () => {

                    // Scrolling helpers
                    if (App.scrollTop % cellHeight !== 0 && !lastY) {
                        App.scrollTop -= App.scrollTop % 23;
                    }

                    if (App.scrollLeft % cellWidth !== 0 && !lastX) {
                        App.scrollLeft -= App.scrollLeft % 124;
                    }


                    // Checking max chunk position
                    if (lastY) {
                        this.chunkY = chunkPositionY;
                        this.startY = 40000 - 90;
                        this.endY = 40000;
                        this.offsetY = App.scrollHeight - App.querySelector('table').clientHeight - cellHeight;
                    }

                    if (lastX) {
                        this.chunkX = chunkPositionX;
                        this.startX = 40000 - 20;
                        this.endX = 40000;
                        this.offsetX = App.scrollWidth - App.querySelector('table').clientWidth - cellWidth;
                    }



                    // Checking if scroll step bigger by 1 chunk
                    if (chunkPositionY < this.chunkY - 1 ||
                        chunkPositionY > this.chunkY + 1 ||
                        chunkPositionX < this.previousX ||
                        chunkPositionX > this.previousX) {
                        generateByPosition();
                    }

                    if (chunkPositionY === 1) {
                        this.chunkY = chunkPositionY;
                        this.startY = 0;
                        this.endY = 90;
                        this.offsetY = 0;
                    }

                    if (chunkPositionX === 1) {
                        this.chunkY = chunkPositionY;
                        this.startX = 0;
                        this.endX = 20;
                        this.offsetX = 0;
                    }
                };

                window.endEvent(stopScroll, 500);

            },

            saveToConsole() {
                // eslint-disable-next-line no-console
                console.log(this.$store.state.data);
                this.$store.commit("buttonToggle", true);
            }
        }
    }
</script>

<style lang="less">
    body {
        padding: 0;
        margin: 0;
    }

    .fade-leave-active {
        transition: opacity 1.5s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        .app__wrapper {
            display: flex;
            flex-wrap: nowrap;
        }

        .app__load {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background: #eeeeee;
            font-size: 20px;
            color: #8b8b8b;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 399;
        }

        .app__save-button {
            width: 100%;
            position: relative;

            button {
                position: fixed;
                left: 50%;
                bottom: 80px;
                z-index: 500;
                padding: 5px;
                transform: translate(-50%, -50%);

                font-size: 1.5em;
                cursor: pointer;
                background: linear-gradient(to bottom, #97cc76, #8bcc62);
                border: 1px solid #5f993a;
                box-shadow: inset 0 1px 0 #c6e6b3,
                inset 0 -1px 0 #79b356,
                inset 0 0 0 1px #a4cc8b,
                0 2px 4px rgba(0, 0, 0, 0.2);
                color: white;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            }
        }
    }


</style>
